<li class="card grey lighten-2">
	<div class="center">{{name}}</div>
	<br>
	<button class="change-devour btn yellow darken-2" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}DEVOUR{{else}}✅{{/if}}
	</button>

	<button class="delete-burger btn red" data-id="{{this.id}}">Wipe Table</button>
</li>
